name: Do some stuff after a release is created

on:
  push:
    branches:
      - main
    paths:
      - pkg/*/**
  release:
    types:
      - created
  workflow_call: 
    inputs:
      tag_name:
        required: true
        type: string
      release_url:
        required: true
        type: string
      release_sha:
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{github.event.issue.number || github.ref}}-${{github.event.release.tag_name || github.event.inputs.tag_name}}
  cancel-in-progress: true

permissions:
  issues: write
  contents: read

jobs:
  create-issue:
    runs-on: ubuntu-latest
    if: (github.event_name == 'release' && github.event.action == 'created' && startsWith(github.event.release.tag_name, 'app-')) || (github.event_name == 'workflow_call' && startsWith(github.event.inputs.tag_name, 'app-'))
    steps:
      - name: Create issue
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const tag = (github.event_name == 'release' ? github.event.release.tag_name : github.event.inputs.tag_name);
            const appName = tag.replace('app-', '');
            const version = tag.match(/v\d+\.\d+\.\d+(?:-[0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*)?(?:\+[0-9A-Za-z-]+)?$/)[0];
            const releaseUrl = (github.event_name == 'release' ? github.event.release.html_url : github.event.inputs.release_url);
            const releaseCreator = context.payload.release.author?.login;
            const issueTitle = `Issue created after release of ${appName} with version ${version}`;
            const issueBody = `A new release has been published.
            - App Name: ${appName}
            - Version: ${version}
            - Release Tag: ${tag}
            - Release URL: ${releaseUrl}

            To create a pull request with updated release config file, please check the boxes below:
            <!-- start-env-list -->
            - [ ] Deployed
            <!-- stop-env-list -->
            `;
            // Check if the issue already exists
            const { data: issues } = await github.rest.issues.listForRepo({
              ...context.repo,
              state: 'open',
              labels: 'release',
            });
            const issueExists = issues.some(issue => issue.title === issueTitle);
            if (issueExists) {
              console.log(`Issue already exists: ${issueTitle}`);
              return;
            }
            // Create a new issue
            const response = await github.rest.issues.create({
              ...context.repo,
              title: issueTitle,
              body: issueBody,
              labels: [ 'release' ],
              assignees: releaseCreator ? [releaseCreator] : [],
            });
            console.log(`Issue created: ${response.data.html_url}`);