name: Simplify testing

on:
  workflow_dispatch: 
    inputs:
      tag_name:
        required: true
        type: string
        default: 'test-tag'

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            console.log(context.payload.inputs.tag_name)